@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #889696; /* Xanadu */
    background: #EBEDE9; /* Platinum */
    font-family: 'Zen Kurenaido', sans-serif;
}

/* header title */

header {
    margin: 20px;
    text-align: center;
}

#title {
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

/* main navigation */

#main-menu > ul {
    list-style: none;
}

#main-menu > ul > li {
    display: inline-block;
    border: 2px solid #5F7470; /* Xanadu */
    border-right: 0;
}

#main-menu > ul > li:last-child {
    border: 2px solid #5F7470; /* Xanadu */
}

#main-menu > ul > li > a {
    font-weight: bold;
}

.menu-item {
    padding: 4px 15px;
    display: inline-block;
}

a.menu-item {
    color: #889696; /* Spanish Gray */
    text-decoration: none;
}

a.menu-item:visited {
    color: #889696; /* Spanish Gray */
}

a.live {
    background: #B8BDB5; /* Ash Gray */
}

a.menu-item:hover {
    color: #EBEDE9; /* Platinum */
    background: #5F7470; /* Xanadu */
}

/* main section */

section {
    text-align: center;
    height: 330px;
}

/* score-board */

#player, #computer, .label, .score {
    display: inline-block;
}

#player {
    margin-right: 25px;
}

#computer {
    margin-left: 25px;
}

.score {
    border: 2px solid #5F7470; /* Xanadu */
    padding: 0 10px;
}

.label {
    font-size: 20px;
    font-weight: 800;
}

/* game-board */

#game-board {
    height: 220px;
    width: 267px;
    margin: 20px auto;
}

#game-board table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

#game-board td {
    border: 2px solid #5F7470; /* Xanadu */
}

/* only keep inside borders */
#game-board tr:first-child td {
    border-top: 0;
}

#game-board tr:last-child td {
    border-bottom: 0;
}

#game-board tr td:first-child {
    border-left: 0;
}

#game-board tr td:last-child {
    border-right: 0;
}

/* settings */

#turn-select, #game-restart, #turn-label, #turn-switch {
    display: inline-block;
}

#turn-select {
    margin-right: 10px;
}

#game-restart {
    margin-left: 15px;
    border: 2px solid #5F7470; /* Xanadu */
    font-weight: bold;
    padding: 6px 10px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 14px;
    color: #889696; /* Xanadu */
    background: #EBEDE9; /* Platinum */
}

#game-restart:hover {
    color: #EBEDE9; /* Platinum */
    background: #5F7470; /* Xanadu */
}

/* toggle switch */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: -4px;
left: 0;
right: 0;
bottom: 4px;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #5F7470; /* Xanadu */
}

input:focus + .slider {
box-shadow: 0 0 1px #5F7470; /* Xanadu */
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
} 

/* footer */

footer {
    margin-top: 10px;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    border-right: 1px solid #5F7470;
}

footer > ul > li:last-child {
    border-right: 0; 
}

footer > ul > li > a {
    color: #889696; /* Spanish Gray */
    text-decoration: none;
    display: block;
    padding: 0 6px;
}

footer > ul > li > a:hover {
    color: #EBEDE9; /* Platinum */
    background: #5F7470; /* Xanadu */
}